.jumbotron{
    background: url("static/img/fondo2.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
h1{
  color: antiquewhite;
}