{% extends "base.html" %}


      {% block content %}

      <div class="p-3 mb-2 bg-secondary text-white" style="background: url(static/img/bici_playa.jpg)   no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"> 
        <div class="container p-3 my-3 bg-dark text-white">
            <nav class="navbar navbar-light bg-light">
              <div class="container-fluid">
                  <span class="navbar-text">
                    <h1>Hola {{users.first_name}}! Edita tu Evento</h1>
                    <a href="/cicletealo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                        </svg></a>
                  </span>
                </div>
              </nav>
          </div>

              <div class="container p-3 my-3 bg-dark text-white">
                <form action="/editar/{{evento.id}}" method="POST">
                    {% csrf_token %}
                    <form class="row g-3">
                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Nombre evento:</label>
                        <input type="text" name="editar_nombre" class="form-control" id="inputEmail4" placeholder="{{evento.nombre}}" value="{{evento.nombre}}"></p>
                      </div>
                      <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Lugar de encuentro</label>
                        <input type="text" name="editar_encuentro" placeholder="{{evento.encuentro}}" value="{{evento.encuentro}}" class="form-control" id="inputPassword4"></p>
                      </div>
                      <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Lugar de termino</label>
                        <input type="text" name="editar_termino" placeholder="{{evento.termino}}" class="form-control" value="{{evento.termino}}" id="inputAddress"></p>
                      </div>
                      <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Ruta</label>
                        <input type="text" name="editar_ruta" placeholder="{{evento.ruta}}"class="form-control" value="{{evento.ruta}}" id="inputAddress2"></p>
                      </div>
                      <div class="col-md-4">
                        <label for="inputCity" class="form-label">Fecha</label>
                        <input type="date" name="editar_fecha" class="form-control" value="{{date}}" id="inputCity"></p>
                      </div>
                      <div class="col-md-4">
                        <label for="inputCity" class="form-label">Hora</label>
                        <p>Hora: <input type="time" class="form-control" value="{{hora}}" id="inputCity"></p>
                      </div>
                      <div class="col-md-4">
                        <label for="inputState" class="form-label">Dificultad</label>
                        <select  name="editar_dificultad" placeholder="{{evento.dificultad}}"  id="inputState" class="form-select">
                          <option value="{{evento.dificultad}}" selected>Choose...</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5" >5</option>
                        </select><br>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-light ">Editar</button>
                      </div>
                    </form>
                </form> 
              </div>
            </div>
      
    {% endblock %}